name: Python Pytest and Github Actions

# Trigger the workflow on any push or pull request events to the main branch
on:
  push:
    branches:
        - main
  pull_request:
    branches:
        - main


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
        # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v2

        # Set up Python
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
        
        # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        
        # Run tests with pytest
      - name: Run tests
        run: pytest

     
